<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuperMarker</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="login.component.css" />
  </head>
  <body>
    <div class="form-container">
      <div class="login-container">
        <img class="img" src="assets/logo.png" alt="" />
            <div class="providers">
                <span>Clic para hacer login</span>
                <button (click)="login()" class="btn btn-login">Login</button>
            </div>        
      </div>
      <div class="welcome-screen-container">
        <img class="img" src="assets/super.jpeg" alt="" />
      </div>
    </div>
  </body>
</html>