<div class="cards">
    <!-- CARD -->
    <div *ngFor="let card of usuarios" class="card">
        <div class="header">
            <div class="author">
                <a href="#">
                <img [src]="card.avatar" alt="" />
                <span>{{ card.fullName}}
                </span>
                </a>
            </div>            
        </div>
        <div class="footer">
            <div class="date">{{ card.email }}</div>
            <section>
                <div class="example-button-row">
                  <button mat-flat-button color="primary">Editar</button>
                  <button mat-flat-button color="warn">Eliminar</button>
                </div>
              </section>
        </div>
    </div>
  
</div>